/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic);

@import url(http://fonts.googleapis.com/css?family=Prata);

@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p, img {
    margin: 0;
    padding: 0;
}

.app-container {
    max-width:420px;
    padding:10px;
    margin:5% auto 0 auto;
    border:1px solid black;
    font-family: 'PT Serif', serif;
    background-color:black;
}

.app-container > form {
    text-align:center;
    padding:15px;
}

input#input_field {
    width:80%;
    height:30px;
    margin:0px;
    padding:0px;
    font-size:15px;
    text-transform: uppercase;
    text-align:center;
    border: none;
    box-shadow: 1px 2px 3px rgba(255,255,255,1);
}

button#submit_button {
    display:block;
    width:80%;
    height:40px;
    margin:20px auto 0 auto;
    border: 0;
    color:white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1.25px;
    background-color:rgb(19,66,92);
    cursor:pointer;
    box-shadow: 1px 2px 3px rgba(19,66,92,0.9);
}

button#submit_button:hover {
    color:black;
    background-color: white;
    box-shadow: 1px 2px 3px rgba(255,255,255,1);
}

div#blurb_container {
    width:95%;

    margin:0 auto 0 auto;
}

div#blurb_container > h2, h3 {
    text-transform: uppercase;
    font-weight: 400;
    color:#fff;
}

div#blurb_container > h2 {
    font-size: 5.25em;
    margin-bottom: 30px;
}

div#blurb_container > h3 {
    font-size: 3.75em;
    margin-bottom: -20px;
}


    @media (max-width: 420px) {

        div#blurb_container {
            width:65%;
            margin:0 auto 0 auto;
        }

        div#blurb_container > h2, h3 {
            text-transform: uppercase;
            font-family: 'Abril Fatface', cursive;
        }

        div#blurb_container > h3 {
            font-size: 50px;
            line-height: 85%;
            margin-bottom:0px;
        }

        div#blurb_container > h3 > span {
            color:white !important;
        }

        div#blurb_container > h2 > span {
            color:white !important;
        }

        div#blurb_container > h2 {
            font-size: 50px;
            line-height: 85%;
        }

        input#input_field {
            width:100%;
        }

        button#submit_button {
            width:100%;
        }



    }